html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #A69C94;
}

p,li {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10;
  font-style: normal;
}

h1,h2 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 10;
  font-style: normal;
}

img {
  border-radius: 8px;
  margin: 10px;
}