html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #f2e9e4;
  padding-bottom: 80px;
}

li {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 10;
  font-style: normal;
}

/* Add responsive image styling */
.col-sm-6 img.img-fluid {
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  margin: auto;
  display: block;
}

img {
  border-radius: 8px;
  margin: 10px auto;
  /* center images horizontally by default */
  display: block;
  max-width: calc(100% - 20px);
}

/* Smaller centered images for narrow side columns */
.col-sm-3 img.img-fluid {
  width: 90%;
  height: auto;
  object-fit: cover;
  margin: 10px auto;
  display: block;
}

/* Carousel image sizing */
#carouselExampleAutoplaying {
  width: 80%;
  margin: 0 auto;
}

#carouselExampleAutoplaying img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.list {
  border-color: black;
  border-style: solid;
}

ul {
  list-style-type: none;
}

.col-sm-2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #f2e9e4;
  background-color: #403939;
}