html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #f2e9e4;
}

li {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 10;
  font-style: normal;
}

img {
  border-radius: 8px;
  margin: 10px;
}

.list {
  border-color: black;
  border-style: solid;
}

ul {
  list-style-type: none;
}

.col-sm-2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #f2e9e4;
  background-color: #403939;
}